html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  background: linear-gradient(to top left, #ccccff 14%, #ffcccc 100%);
}


main{
  position:fixed;
  width: 100%;
  height:100%;
}

#sketch-container{
  width: 100%;
  height: 100%;
}

.photo{
	width: 100%;
	margin:0 auto;
	display:flex;
	justify-content: center;
	align-items:center;
	position: relative;
  
}

div {
	width:30%;
	margin:50px;
}

div img{
	width:100%;
}


.movebox1 {
	margin:35vh auto auto auto;
	width:40px;
	height:40px;
	background-color:coral;
	animation-name:move-color;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	position:relative;
}

@keyframes move-color {
	0% {
		top:0;
		left:0;
		background-color:coral;
	}
	25% {
		top:0;
		left:600px;
		border-radius: 50%;
	}
	50% {
		top:200px;
		left:600px;
	}
	75% {
		top:200px;
		left:0;
		border-radius: 10%;
	}
	100%{
		top:0;
		left:0;
		background-color:aquamarine;
		
	}
}

